{{page-title "Preview"}}
<h1>This is the preview page</h1>

<ul>
  <li>company: {{this.company}}</li>
  <li>title: {{this.title}}</li>
  <li>location: {{this.location}}</li>
  <li>job description: {{this.jobDescription}}</li>
</ul>