{{page-title "Preview"}}
<h1>This is the preview page</h1>

<ul>
  <li>company: <span data-test-name="company">{{this.job.company}}</span></li>
  <li>title: <span data-test-name="title">{{this.job.title}}</span></li>
  <li>location: <span data-test-name="location">{{this.job.location}}</span></li>
  <li>job description: <span data-test-name="jobDescription">{{this.job.jobDescription}}</span></li>
</ul>