{{page-title "Preview"}}
<h1>This is the preview page</h1>

<ul>
  <li>company: {{this.job.company}}</li>
  <li>title: {{this.job.title}}</li>
  <li>location: {{this.job.location}}</li>
  <li>job description: {{this.job.jobDescription}}</li>
</ul>